*{
    background-color:#354f4464;
    margin: 0px;
    padding: 0px;
    scrollbar-color: #354f44;
}

h1{
    color: white;
    font-size: 60px;
    background-color: #354f44;
    
}

.container{
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.logo{
    max-width: 100%;
    display: flex;
    gap: 6rem;
    background-color: #354f44;
}
img{
    max-width: 20rem;
    max-height: 10rem;
    background-color: #354f44;
}

.btncadastro{
    width: 10rem;
    height: 2rem;

}

section.tabela_contas{
    max-height: 40rem;
    max-width: max-content;
    overflow-y: auto;
    overflow-x: auto;
    margin: 1%;
    margin-bottom: 1%;
    border: 04px solid #000000;
    
    
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
    
    
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border: 1px solid black;
}

thead{
    font-weight: bolder;
}

.grafico{
    margin-right: 1rem;
    height: 20rem;
    width: 40rem;
    
}
